<form action="/records" method="POST" class="container rounded mt-5 py-2">
  <div class="row align-items-center m-2 py-3">
    <h6 class="col-4 text-dark">*必填欄位</h6>
    <h1 class="col-8" style="padding-left: 75px;">請輸入你的支出</h1>
  </div>
  <div class="row form-group align-items-center m-2 mr-3 py-3">
    <label class="col-4 h4" for="name">名稱<span class="text-dark"> *</span></label>
    <input type="text" class="form-control col-8" name="name" id="name" maxlength="10" placeholder="請輸入項目名稱" required />
  </div>
  <div class="row form-group align-items-center m-2 mr-3 py-3">
    <label class="col-4 h4" for="date">日期<span class="text-dark"> *</span></label>
    <input type="date" class="form-control col-8" name="date" id="date" min="2023-01-01" max="2030-12-31" required />
  </div>
  <div class="row form-group align-items-center m-2 mr-3 py-3">
    <label class="col-4 h4" for="category">類別<span class="text-dark"> *</span></label>
    <select id="category" name="categoryName" class="form-select col-8" required>
      <option value="" disabled selected>請選擇項目類別</option>
      {{#each categories}}
      <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row form-group align-items-center m-2 mr-3 py-3">
    <label class="col-4 h4" for="amount">金額<span class="text-dark"> *</span></label>
    <input type="number" class="form-control col-8" name="amount" id="amount" min="1" max="99999" placeholder="請輸入花費金額" required />
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-primary my-4 col-4">新增支出</button>
    <a href="/" class="btn btn-outline-primary col-4 my-4 ms-3">返回</a>
  </div>
</form>